<h1>Search in Movies and Series</h1>

<form action='<%= searches_path %>'>
  <label>Pesquisar:</label>
  <input type='text' name='q' value='<%= params[:q] %>'>
  <input type='submit'>
</form>

<% @results.each do |result| %>

  <%= render partial: 'movie', locals: {movie: Movie.find(result.searchable_id)} if result.searchable_type == 'Movie'%>
  <%= render partial: 'serie', locals: {serie: Serie.find(result.searchable_id)} if result.searchable_type == 'Serie'%>

  <hr>

<% end %>